.bgcolors{
    background-color: aqua;
}
#heading {
    color: red;
}

.search-input {
    width: 200px;
    padding: 10px 30px; /* Add padding to the input */
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url('./Assets/images/search-new.png') no-repeat 10px center; /* Adjust path */
    background-size: 20px 20px; /* Size of the icon */
  }
  
  .search-input::placeholder {
    color: #aaa; /* Placeholder color */
  }

  .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }
  .logo{
    width: 100px;
    padding: 15px
  }
  .nav-conatainer > ul {
    display: flex;
    list-style: none;
    font-size: 18px;
  }
  .nav-conatainer > ul >li{
    padding: 10px;
    margin: 10px;
  }


  .res-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; /* Center the content horizontally */
    justify-content: space-between; /* Distribute space evenly */
    padding: 10px; /* Increased padding for better spacing */
    margin: 10px;
    width: 200px; /* Fixed width */
    height: auto; /* Height will now adjust based on content */
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
    transition: border 0.3s, box-shadow 0.3s; /* Smooth transition on hover */
  }
  
  .res-card:hover {
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .res-logo {
    width: 100px; 
    height: auto; 
    margin-bottom: 10px; 
  }
  
  .res-card h2 {
    font-size: 18px; 
    margin: 5px 0;
  }
  
  .res-card h3, .res-card h4 {
    font-size: 14px; 
    margin: 2px 0; 
    font-weight: normal; 
  }
  
  .res-container{
    display: flex;
    flex-wrap: wrap;
  }
 
  .btn-cls{
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-cont{
    display: flex;
    justify-content: right;
  }

  .input{
    padding: 5px;
    margin: 5px;
  }
 
  
 


